@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho{
  display: flex;
  width: 100vw;
  position:relative;
  height: 85px;
}

.posicao{
display: flex;
background-color: #111111;
list-style-type: none;
justify-content: space-around;
align-items: center;
}
nav {
  width: 100vw;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
#menu {
  display: flex;
  background-color: #111111;
  color: #fff;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 85px;
}
#menu li {
  list-style-type: none;
  padding: 15px;
}
#menu li:hover {
  border-bottom: 4px solid #00A0BA; 
}
.tamanho-logo {
  padding: 10px;
  width: 50px;
  height: 50px;
  margin: 10px;
}
a {
  color: white;
  text-decoration: none;
}
#pesquisa {
  border-radius: 50px;
  height: 30px;
  border: none;
}
#pesquisar:focus {
  outline: none;
}
.menu-button {
  border-radius: 15px;
  width: 140px;
  height: 40px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 10px;
}
#btni {
  background-color: #282828;
  color: white;
}
#btnj {
  background-color: #0C98AE;
  color: black;
}
#btni:hover {
  background-color: #282828e0;
}
#btnj:hover {
  background-color: #0c98aece;
}